
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f0e6;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #3b3b3b;
}
#head{
     display: block;
    background-color: #e6dbc8;
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid #c4b59d;
     font-weight: 700;
    letter-spacing: 4px;
}