
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f0e6;
    font-family: "Segoe UI", Arial, sans-serif;
    color: #3b3b3b;
}
#Head{
    padding: 30px;
    text-align: center;
    border-bottom: 3px solid #c4b59d;
     font-weight: 700;
    letter-spacing: 4px;
    background-color: #e6dbc8;
}
.Desc{
    text-align: center;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
     font-style: italic;
     margin: 10px 0;

}
form {
    background: #e6dbc8;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
}

